* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root {
    font-family: "Roboto", sans-serif;
    
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-size: 20px;
  }
  label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: bold;
  }
  input {
    margin: 50px 0 10px;
    padding: 7px;
    font-size: 20px;
  }
  .result {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 0 50px;
    font-size: 26px;
    color: rgb(255, 255, 102);
    letter-spacing: 1px;
    height: 1em;
    font-weight: bold;
  }
  
  button {
    width: 200px;
    margin: 0 30px;
    padding: 10px 30px;
    background: none;
    background-color:darkgoldenrod;
    border: 3px solid #030303;
    color: #080808;
    transition: .3s;
    border-radius: 5px;
    font-size: 25px;
    box-shadow: 3px 3px 10px var(--color);
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  button:hover {
    color:rgb(240, 6, 6);
    box-shadow: 3px 3px 10px var(--color2);
    animation: pulse 1s infinite;
    transition: .3s;
  }
    @keyframes pulse {
     0% {
       transform: scale(1);
     }
     70% {
       transform: scale(.9);
     }
       100% {
       transform: scale(1);
     }
  }
  
  
  /* ------> Media queries <------ */
  @media screen and (max-width: 500px){ /*Smartphones*/
    label{
      font-size: 35px;
    }
  }
  @media screen and (max-width: 1000px) {/*Bigger screens*/
    button {
      display: flex;
      margin-bottom: 20px;
      justify-content: center;
    }
  }